.container
	+e("form").form
		+e.input-wrapper
			+e("span").icon.icon(data-icon="u")
			+e("input").input.form-control(type="search" name="product-search")
	if buttonsList
		+e("ul").buttons-list
			each item in buttonsList
				- classes = ""
					if item.active
						- classes = "active"
					+e("li").button(class=classes)= item.title
	+e.add-button
		+e("button").btn
			+e("span").add-icon.icon(data-icon="y")