.container
	if title
		+e.header
			+e("h4").filter!= title

	if list
		+e("ul").list
			each item in list
				+e("li").item
					+e("a").link(href=item.url)
						+e("h6").title= item.category
						+e("span").product-arrow.icon(data-icon="j")
						if item.new
							+e("span").product-badge New
						+e.product-image
							svg(xmlns='http://www.w3.org/2000/svg', width='92', height='92', viewbox='0 0 92 92')
								path.path(fill='#A2A5AF', d='M55.351 0l-.152.05h-37.615c-3.611 0-6.584 2.964-6.584 6.563v78.823c0 3.602 2.973 6.563 6.584 6.563h56.854c3.61 0 6.531-2.962 6.531-6.563v-60.655c.055-.272.036-.552-.051-.814-.04-.107-.09-.209-.152-.306l-.05-.101-.153-.153-.052-.102h-.051l-23.781-22.796-.102-.101-.153-.102c-.096-.062-.199-.113-.305-.153l-.104-.049h-.052l-.154-.052c-.149-.038-.304-.054-.459-.049v-.003zm-37.767 3.307h36.338v16.233c0 3.601 2.921 6.563 6.532 6.563h17.249v59.333c0 1.843-1.422 3.308-3.266 3.308h-56.853c-1.844 0-3.318-1.465-3.318-3.308v-78.822c0-1.837 1.474-3.307 3.318-3.307zm39.604 2.239l15.921 15.215 2.196 2.086h-14.851c-1.845 0-3.266-1.467-3.266-3.307v-13.994zm-35.624 9.872c-.893.128-1.512.954-1.383 1.845.061.418.281.797.618 1.056l8.268 6.259-8.217 6.36c-.718.548-.855 1.574-.306 2.29.55.717 1.578.853 2.297.306l9.952-7.735c.694-.575.789-1.602.211-2.293-.078-.094-.165-.178-.262-.251l-9.952-7.531c-.351-.262-.792-.372-1.226-.306zm-1.684 24.019c-.902.126-1.53.958-1.402 1.857.126.899.96 1.525 1.862 1.399h51.494c.902.012 1.646-.706 1.656-1.605.014-.899-.708-1.639-1.609-1.651h-52.001zm0 9.617c-.902.126-1.53.958-1.402 1.858.126.897.96 1.524 1.862 1.398h51.494c.902.013 1.646-.706 1.656-1.605.014-.899-.708-1.64-1.609-1.651h-52.001zm0 9.617c-.902.127-1.53.959-1.402 1.856.126.899.96 1.526 1.862 1.399h27.765c.9.012 1.642-.705 1.654-1.604.014-.899-.707-1.639-1.608-1.651h-28.270999999999997z')
						if item.title
							+e.title-wrapper
								+e("h5").product-title!= item.title
