.category
	&__header
		display inline-block
		margin 0 0 25px
		padding 4px 10px
		background #ffffff
		border 1px solid #E8E8E8
		border-radius 4px
		cursor pointer
		transition background .2s ease-out
		.open &
			background #EEF0F4
	&__filter
		&-title
			display inline-block
			vertical-align middle
			margin 0 9px 0 0
			font-size 14px
			font-weight 400
			color siteColor
		&-arrow
			display inline-block
			vertical-align middle
			margin-top 5px
			color siteColor
			transition transform .2s ease-out
			.open &
				transform rotate(180deg) translateY(5px)
	&__title
		position absolute
		top 6px
		left 12px
		font-weight 600
		font-size 12px
	&__list
		position relative
		z-index 1
		margin 10px -15px 12px
		padding 0
		list-style-type none
	&__item
		display inline-block
		vertical-align top
		width 182px
		height 210px
		margin 0 18px 41px
		border 1px solid #E8E8E8
		border-radius 4px
		@media phone
			margin 0 15px 13px
	&__link
		position relative
		display block
		height 100%
		padding 44px 20px 15px
		background #ffffff
		text-align center
		color grayColor
		text-decoration none
		&:hover
		&:active
			color siteColor
			text-decoration none
			outline 0
			box-shadow 0 0 12px 0 rgba(105, 116, 136, .06)
			.path
				fill blueColor
			.category__product
				&-arrow
					display block
					opacity 1
	&__product
		&-image
			display block
			margin 0 0 10px
			svg
				height 73px
				width 73px
			&_list
				margin 0 -15px 10px
				&-item
					display inline-flex
					justify-content space-around
					width 42px
					height @width
					margin 0 7px 5px
		&-title
			display table-cell
			margin 0
			text-align center
			vertical-align middle
		&-arrow
			position absolute
			right 8px
			top 8px
			display none
			width 18px
			height 18px
			border 1px solid #E8E8E8
			border-radius 4px
			color grayColor
			opacity 0
			cursor pointer
			transition opacity .15s ease-out
		&-badge
			position absolute
			top 3px
			left 2px
			padding 2px 5px
			background neonGreenColor
			color #ffffff
			font-weight 700
			font-size 10px
			border-radius 6px
	&__title-wrapper
		display table
		width 100%
		height 60px
	&__dropdown
		position relative
		z-index 2
		&-menu
			display none
			position absolute
			width 100%
			padding 15px 25px 52px
			margin -20px 0 0
			border 1px solid #E8E8E8
			box-shadow 0 4px 12px rgba(186, 191, 199, .3)
			border-radius 0
			opacity 0
			background #ffffff
			transition opacity .4s ease-out
			.open &
				display block
				opacity 1
		&-close
			float right
			width 16px
			height 16px
			margin-top 25px
			&_icon
				width 16px
				height 16px
	&__input
		width 95%
		height auto
		padding 13px 53px
		border 0
		border-radius 0
		color #A2A5AF
		font-size 16px
		box-shadow none !important
		&:focus
			box-shadow none
			outline 0
			border 0
		&-wrapper
			position relative
		&-icon
			position absolute
			top 50%
			left 0
			margin-top -12px
			font-size 25px
			color grayColor
	&__search-field
		width 97%
		padding 10px 0 17px
	.dropdown-list
		padding-top 45px
		border-top 1px solid #e8e8e8
