+e.container
	+e.menu
		+b.menu: +i({ menuList: mainMenu })

	if stacks
		+b.stacks
			+e("h5").title= stacks.title
			+e("ul").list
				each item in stacks.list
					+e("li").item
						+e("a").link(href=item.url)
							+e("span").link-icon.icon(data-icon="x")
							+e("span").link-text= item.title

			+e("button").add-button New Stack
				+e("span").button-icon.icon(data-icon="k")
