.sidenav
	position fixed
	z-index 100
	top 0
	left 0
	display none
	width 245px
	height 100%
	padding-top 61px
	overflow-x hidden
	opacity 0
	background-color #ffffff
	&__container
		padding 45px 32px

	.stacks
		&__title
			margin 0 0 17px
		&__list
			margin 0 0 28px
			padding 0
			list-style-type none
		&__item
			margin 0 0 14px
		&__link
			display inline-block
			vertical-align bottom
			color grayColor
			font-size 14px
			font-weight 600
			text-decoration none
			&-icon
				position relative
				display inline-block
				margin-right 25px
				color grayColor
				&:before
					position absolute
					bottom 0
		&__add-button
			position relative
			width 100%
			padding 7px
			background #ffffff
			border 2px solid #E8E8E8
			color #A2A5AF
			font-size 14px
			font-weight 600
			cursor pointer
			&:before
				content ""
		&__button-icon
			position absolute
			top 9px
			left 32px
			color #A2A5AF