//---
	layout: layouts/products
	header:
		title: "Product Lists"
		buttons:
			- url: "/"
			  icon: "t"
			- url: "/"
			  icon: "h"
			- url: "/"
			  text: "Help"
	sidenav:
		stacks:
			title: "STACKS"
			list:
				- url: "/"
				  title: "Baby's clothes"
				- url: "/"
				  title: "Men's wear"
				- url: "/"
				  title: "Women's wear"
				- url: "/"
				  title: "Men's shoes"
	searchPanel:
		list:
			- title: "Vendor"
			  active: true
			- title: "Last Edited"
			- title: "New Updates"
	category:
		title: "3M Products"
		list:
			- url: "/"
			  title: "BigBoyClothes for machinery operations in the glorious field…"
			  category: "3M"
			- url: "/"
			  title: "Kitchen Cleaning Products"
			  category: "3M"
			- url: "/"
			  title: "SportWear Line"
			  category: "Adidas"
			- url: "/"
			  title: "General Aromatizers for the office"
			  category: "Airwick"
			- url: "/"
			  title: "Bathroom cleaning products"
			  category: "BioClean"
			- url: "/"
			  title: "Wood furniture cleaning products"
			  category: "Cotico"
			- url: "/"
			  title: "Wood Floor polishers"
			  category: "Cotico"
			- url: "/"
			  title: "General Cleaning Products"
			  category: "Dreco"
			- url: "/"
			  title: "Seasonal Products"
			  category: "Lotta"
			- url: "/"
			  title: "Winter Products Line"
			  category: "Lotta"
			- url: "/"
			  title: "Some Product records to populate"
			  category: "Lotta"
//- content