//---
	layout: layouts/products
	header:
		title: "Product Lists"
		buttons:
			- url: "/"
			  icon: "t"
			- url: "/"
			  icon: "h"
			- url: "/"
			  text: "Help"
	searchPanel:
		list:
			- title: "Vendor"
			  active: true
			- title: "Last Edited"
			- title: "New Updates"


//- content