//---
	layout: layouts/products
	header:
		title: "Product Lists"
		buttons:
			- url: "/"
			  icon: "t"
			- url: "/"
			  icon: "h"
			- url: "/"
			  text: "Help"
	sidenav:
		stacks:
			title: "STACKS"
			list:
				- url: "/"
				  title: "Baby's clothes"
				- url: "/"
				  title: "Men's wear"
				- url: "/"
				  title: "Women's wear"
				- url: "/"
				  title: "Men's shoes"
	searchPanel:
		list:
			- title: "Vendor"
			  active: true
			- title: "Last Edited"
			- title: "New Updates"
	categoryOne:
		title: "3M Products"
		list:
			- url: "/"
			  title: "BigBoyClothes for machinery operations in the glorious field…"
			- url: "/"
			  title: "Kitchen Cleaning Products"
			- url: "/"
			  title: "Bathroom Cleaning Products"
			- url: "/"
			  title: "Bathroom Cleaning Products"
			- url: "/"
			  title: "Products of something"
			- url: "/"
			  title: "Cleaning hand globes"
			- url: "/"
			  title: "General cleaning products"
	categoryTwo:
		title: "Adidas"
		list:
			- url: "/"
			  new: true
			  title: "Men's shoes"
			- url: "/"
			  title: "Women's shoes"
			- url: "/"
			  title: "Baby's shoes"

//- content