placeholderTrans()
	transition opacity .3s ease

.form-control
	padding 5px 35px
	background-color #ffffff
	border 1px solid #E8E8E8
	border-radius 30px
	font-size 14px
	color siteColor
	outline none
	box-shadow none
	-webkit-appearance none
	@media phone
		border-radius 0
		box-shadow 0 1px 0 #E8E8E8
	&::-webkit-input-placeholder
		opacity 1
		placeholderTrans()
	&::-moz-placeholder
		opacity 1
		placeholderTrans()
	&:-moz-placeholder
		opacity 1
		placeholderTrans()
	&:-ms-input-placeholder
		opacity 1
		placeholderTrans()
	&:focus::-webkit-input-placeholder
		opacity 0
		placeholderTrans()
	&:focus::-moz-placeholder
		opacity 0
		placeholderTrans()
	&:focus:-moz-placeholder
		opacity 0
		placeholderTrans()
	&:focus:-ms-input-placeholder
		opacity 0
		placeholderTrans()


form
	width 100%

fieldset
	padding 0
	margin 0
	border 0 none
	min-width 0