::selection
	background-color rgba(0, 0, 0, 0.2)
	color #fff
::-moz-selection
	background-color rgba(0, 0, 0, 0.2)
	color #fff

*
	font-smoothing antialiased
	box-sizing border-box
	&:before
	&:after
		box-sizing border-box

html
body
	margin 0
	padding 0
	height 100%

body
	position relative
	font-family mainFont
	font-weight 400
	font-size 16px
	line-height 1.33
	color siteColor
	background-color #F9FAFC
	-webkit-tap-highlight-color transparent
.main
	overflow-x hidden
