h1
	font-size 38px
	margin 0 0 20px
h2
	font-size 36px
	letter-spacing 0.85px
	margin 0 0 25px

h3
	font-size 20px
	font-weight 300
	margin 0 0 10px

h4
	font-size 16px
	font-weight 600
	margin 0 0 10px

h5
	font-size 14px
	font-weight 600
	margin 0 0 5px

h6
	font-size 12px
	font-weight 600
	margin 0 0 5px

p
	margin 0 0 15px

a
	transition .15s color ease-in-out
	&:focus
		outline none

small
	font-size 75%

code
	font-family Menlo, Monaco, Consolas, "Courier New", monospace
	padding 3px 5px
	font-size 80%
	color siteColor
	background-color #ffebee
	border-radius 2px
