.header
	border-bottom 1px solid #E8E8E8
	&__inner
		padding 12px 0 8px
		clearfix()
	&__menu-toggle
	&__logo
	&__title
		float left
	&__user
	&__buttons
		float right
	&__menu-toggle
		width 16px
		height 14px
		margin-top 9px
		margin-right 20px
	&__logo
		margin-top 9px
		margin-right 136px
	&__title
		margin-top 4px
		color #22293C

	&__buttons
		margin-top 10px
		margin-right 55px
		&-link
			display inline-block
			vertical-align top
			padding 0 17px
			text-decoration none
			color grayColor
			&_text
				font-weight 600
				font-size 14px
			&:first-child
				padding 0 17px 0 0
			&:last-child
				padding 0 0 0 17px

	&__user
		margin-top 2px
		&-text
		&-avatar
			float right
		&-avatar
			width 32px
			height 32px
			border 2px dotted grayColor
			border-radius 4px
			text-decoration none
			text-align center
		&-text
			margin-right 15px
			text-align right

		&-alt
			display inline-block
			vertical-align middle
			margin 0 auto
			color grayColor
			font-weight bold
			font-size 12px
		&-company
		&-name
			margin 0
		&-company
			color #22293C
		&-name
			color grayColor
