.header
	position relative
	z-index 150
	border-bottom 1px solid #E8E8E8
	background #F9FAFC
	@media phone
		background #464B5D
	&__inner
		padding 12px 0 8px
		clearfix()
	&__menu-toggle
	&__logo
	&__title
		float left
	&__user
	&__buttons
		float right
	&__menu-toggle
		width 16px
		height 14px
		margin-top 12px
		margin-right 20px
		@media phone
			margin-right 22px
	&__logo
		margin-top 9px
		margin-right 136px
		@media tablet
			margin-right 75px
		@media phone
			display none
	&__title
		margin-top 4px
		color #22293C
		@media phone
			color #ffffff

	&__buttons
		margin-top 10px
		margin-right 55px
		@media phone
			margin-right 19px
		&-link
			display inline-block
			vertical-align top
			padding 0 17px
			text-decoration none
			color grayColor
			&_text
				font-weight 600
				font-size 14px
				@media phone
					display none
			&:first-child
				padding 0 17px 0 0
			&:last-child
				padding 0 0 0 17px

	&__user
		margin-top 2px
		&-text
		&-avatar
			float right
		&-avatar
			width 32px
			height 32px
			border 2px dotted grayColor
			border-radius 4px
			text-decoration none
			text-align center
		&-text
			margin-right 15px
			text-align right
			@media phone
				display none

		&-alt
			display inline-block
			margin 0 auto
			padding-top 6px
			color grayColor
			font-weight bold
			font-size 12px
		&-company
		&-name
			margin 0
		&-company
			color #22293C
		&-name
			color grayColor
